@font-face {
  font-family: "Arsenal";
  src: local("Arsenal")
    url("/fonts/Arsenal-Regular.ttf");
}

html {
  /**
   * Minimum among 3 constraints:
   * height: 4 card rows (20rem), 1 score row (4rem), 4 gaps (2rem) and 2rem of border
   * width: 6 card columns (11rem), 5 gaps (2rem) and 2rem of border
   * 18px as max to just not get tooo big
   */
  font-size: min(calc(100vh / (4 * 20 + 4 + 4 * 2 + 2)), calc(100vw / (11 * 6 + 2 * 5 + 2)), 18px);
}

body {
  background: #222;
  margin: 0;
  padding: 0;
  font-family: "Arsenal";
  color: #fff6a8;
}

.cards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr) 4rem repeat(2, 1fr);
  gap: 2rem;
}

.score {
  grid-column: 1 / span 6;
  font-size: 3rem;
  text-align: center;
  line-height: 4rem;
  height: 4rem;
}

.score.showing-total {
  text-align: end;
  padding-right: 60%;
}

.champion-container, .deck, .ready-button {
  position: relative;
  width: 11rem;
  height: 20rem;
  line-height: 20rem;
  font-size: 3rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  user-select: none;
}

.champion-container {
  box-shadow: inset 0 0 0.3rem black;
}

.deck.button, .ready-button, .game-button {
  cursor: pointer;
  font-size: 3rem;

  height: 4rem;
  line-height: 4rem;
  color: rgba(255, 246, 168, 1);
  text-shadow: black 0 0 0.2rem;
}

.deck {
  transition: box-shadow 0.3s, opacity 0.3s, height 0.3s, line-height 0.3s, color 0.3s;
  background-image: url(/images/league.png);
  background-size: 11rem 20rem;
  background-position: center;
  color: rgba(255, 246, 168, 0);
}

.deck, .ready-button, .game-button {
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 1);
  z-index: 10;
  text-shadow: none;
}

.deck:hover, .ready-button:hover, .game-button:hover {
  box-shadow: 0 0 1.4rem rgba(0, 0, 0, 0.7);
}

.button-disabled {
  pointer-events: none;
  filter: grayscale(50%);
  opacity: 0.7;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 1);
}

.deck.dealing {
  opacity: 0;
}

.deck.dealt {
  display: none;
}

.deck, .champion-container.undealt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name-input {
  position: absolute;
  top: calc(50% - 3rem);
  left: 50%;
  transform: translate(-50%, -100%);
}

.rooms-select-container {
  position: absolute;
  top: calc(50%);
  left: 50%;
  transform: translate(-50%, -50%);
}

.rooms-select-label {
  font-size: 2rem;
  padding-right: 1rem;
}

.ready-button, .game-button {
  background-color: #3a281a;
}

.ready-button {
  position: absolute;
  top: calc(50% + 3rem);
  left: 50%;
  transform: translate(-50%, 0%);
}

.game-button {
  padding: 1rem;
  margin: 2rem;
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.correct {
  opacity: 0.2;
  transition: all 0.1s;
  box-shadow: 0 0 0.8rem green;
  text-shadow: black 0 0 0.2rem;
  pointer-events: none;
}

.correctOther {
  opacity: 0.2;
  transition: all 0.1s;
  box-shadow: 0 0 0.8rem grey;
  text-shadow: black 0 0 0.2rem;
  pointer-events: none;
}

.wrong, .wrongOther {
  opacity: 0.4;
  transition: all 0.1s;
  box-shadow: 0 0 0.8rem #f00;
  pointer-events: none;
}

.scores {
  position: absolute;
  top: 0;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
}

.score-multi {
  display: inline-block;
  padding: 0.1rem 1rem;
  font-size: 2rem;
}

.cursor {
  position: absolute;
  height: 4rem;
  transition: top 0.1s, left 0.1s, opacity 0.5s;
}

.cursor.inactive {
  opacity: 0;
}

.mode-switch-link {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 2rem;
  color: #fff6a8;
}
